<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Ruby On Rails Bibliotheque</h1>
    <p class="lead">This is Ruby On Rails Tp By Professor Ait Lahcen , just Simple CRUD Functionality.</p>
    <hr class="my-4">
    <p>Supervised By Mr AitLahcen Ayoub.</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Join US</a>
  </div>
</div>
