<div class="container mt-4">
  <h1 class="text-center" style="margin-bottom : 100px!important;">Welcome To Our Library</h1>
  <div class="row mt-4">
    <div class="col-6">
      <div class="card" style="width: 25rem;">
        <img src="https://picsum.photos/150/150" style="height:210px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Import as CSV</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Import Now</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 25rem;">
        <img src="https://picsum.photos/150/150" style="height: 210px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Export CSV</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Export Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
