<div class="container mt-4">
  <h1 class="text-center">New Document</h1>

  <%= render "form", document: @document %>

  <br>

  <div>
    <%= link_to "Back to documents", documents_path , class:"btn btn-primary" %>
  </div>

</div>
