
<div class="container mt-4">
  <h1 class="text-center">Editing Adherents</h1>

<%= render "form", adherent: @adherent %>

<br>

<div>
  <%= link_to "Show this adherent", @adherent , class:"btn btn-secondary"%> |
  <%= link_to "Back to adherents", adherents_path, class:"btn btn-secondary" %>
</div>
</div>
