<div class="container mt-4">
  <h1 class="text-center">New adherent</h1>

  <%= render "form", adherent: @adherent %>

  <br>

  <div>
    <%= link_to "Back to adherents", adherents_path , class:"btn btn-primary" %>
  </div>

</div>
