<div class="container mt-4">
  <h1 class="text-center">New Materiel</h1>

  <%= render "form", materiel: @materiel %>

  <br>

  <div>
    <%= link_to "Back to materiels", materiels_path , class:"btn btn-primary" %>
  </div>

</div>
